body {
    padding: 0;
    margin: 0;
}
.container-navigation-bar {
    position: sticky;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    z-index: 1000;
}
.navigation-bar-list {
    max-width: 1200px;
    display: flex;
    margin: auto;
}
.nav-list-logo {
    display: flex;
    align-items: center;
    margin-right: 200px;
    text-decoration: none;
}
.nav-list-logo > img {
    margin-right: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.nav-list-logo > p {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin: auto;
}
.nav-list {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 10px;
    margin: 0 10px;
}
.nav-list:hover {
    color: #EC1C23;
}
.nav-list-introduct {
    display: flex;
    position: relative;
    text-transform: uppercase;
}
.nav-list-introduct_link {
    padding: 20px;
    color: #fff;
    text-decoration: none;
}
.nav-list-introduct_link:hover {
    color: #EC1C23;
}
.nav-hover-item {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.hover-item_list {
    display: flex;
    flex-direction: column;
}
.item_list-diagram, .item_list-library {
    color: #333;
    padding: 10px;
    font-size: 12px;
    text-decoration: none;
}
.item_list-diagram:hover {
    color: #EC1C23;
    padding-left: 13px;
}
.item_list-library:hover {
    color: #EC1C23;
    padding-left: 13px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.nav-list-introduct:hover .nav-hover-item {
    display: block;
}
.nav-list-form {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
}
.list-form-search {
    display: flex;
}
.nav-tag_intput {
    outline: none;
    padding: 5px;
}
.nav-list_btn {
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    background-color: #0e0d44;
    padding: 3px 15px;
}
.icon-search {
    font-size: 18px;
    color: #fff;
}
.nav-list_btn:hover {
    cursor: pointer;
    background-color: #EC1C23;
}
.container-focus-btn-search {
    position: relative;
    margin-left: 15px;
    display: flex;
    align-items: center;
}
.focus-btn-search {
    display: flex;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #2c2b5e;
    align-items: center;
    justify-content: center;
}
.focus-btn-search:hover {
    cursor: pointer;
    background-color: #EC1C23;
}
.focus-btn-search:hover .nav-list-form {
   display: block;
}
.icon-search-focus {
    padding: 4px;
    border-radius: 50%;
    font-size: 15px;
    color: #fff;
}
.container-slide {
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: center;
}
.container-slide-img {
    width: 90%;
}
.header-mailbox {
    padding: 0 30px;
}
.mailbox-address {
    display: flex;
    align-items: center;
}
.mailbox-address > h4 {
    margin: 0;
    padding: 10px;
}
.mailbox-contact > h4 {
    margin: 0;
    padding-left: 10px;
}
.mailbox-contact > p,
.mailbox-contact > a {
    margin: 0 70px;
}
.mailbox-form-content{
    margin-bottom: 10px;
}
.mailbox-checkbox {
    margin-left: 120px;
    margin-bottom: 10px;
}
.mailbox-enter > button {
    margin-left: 120px;
    font-size: 17px;
    border: none;
    background-color: #999;
    color: #333;
    border-radius: 5px;
}
.mailbox-enter > button:hover {
    cursor: pointer;
    color: #fff;
    background-color: #f74b1a; 
}
