body {
    padding: 0;
    margin: 0;
}
.header-mailbox {
    padding: 0 30px;
}
.mailbox-address {
    display: flex;
    align-items: center;
}
.mailbox-address > h4 {
    margin: 0;
    padding: 10px;
}
.mailbox-contact > h4 {
    margin: 0;
    padding-left: 10px;
}
.mailbox-contact > p,
.mailbox-contact > a {
    margin: 0 70px;
}
.mailbox-form-content{
    margin-bottom: 10px;
}
.mailbox-checkbox {
    margin-left: 120px;
    margin-bottom: 10px;
}
.mailbox-enter > button {
    margin-left: 120px;
    font-size: 17px;
    border: none;
    background-color: #999;
    color: #333;
    border-radius: 5px;
}
.mailbox-enter > button:hover {
    cursor: pointer;
    color: #fff;
    background-color: #f74b1a; 
}
