* {
    margin: 0;
    padding: 0;
}
body {
    padding: 0px;
    margin: 0px;
}
.container-page-notification {
    margin-top: 20px;
    text-align: center;
}
.container-page-diagram {
    margin: 30px;
    font-size: 25px;
    color: #666;
}
.container-page-list {
    display: flex;
    height: 300px;
    align-items: center;
}
.page-list-col {
    height: 100%;
    width: 33.33%;
    float: left;
}
.page-list-col-4 {
    position: relative;
    height: 100%;
    margin: 10px;
}
.list-col-4_img {
    box-shadow: 0 0 2px #999;
    height: 100%;
}
.list-col-4_img > img {
    margin-top: 10px;
    height: 80%;
}
.list-col-4_text {
    background-color: #fff;
    position: absolute;
    width: 100%;
    top: 80%;
}
.list-col_4 {
    padding-top: 10px;
}
.container-page-text {
    margin-top: 100px;
    font-size: 25px;
    color: red;
}
.container-page-notification > img {
    margin-top: 20px;
    border: 2px solid red;
}
