body {
    padding:0px;
    margin:0px;
}
.container-news {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-news > p {
    font-size: 20px;
    color: blue;
    font-weight: bold;
}
.container-page-list {
    width: 100%;
    display: flex;
    height: 400px;
    align-items: center;
}
.page-list-col {
    height: 100%;
    width: 33.33%;
    float: left;
}
.page-list-col-4 {
    position: relative;
    height: 100%;
    margin: 10px;
    box-shadow: 0 0 2px #999;
}
.list-col-4_img {
    display: flex;
    height: 70%;
    justify-content: center;
}
.list-col-4_img > img {
    margin-top: 10px;
    width: 90%;
    height: 100%;
    border-radius: 5px;
}
.list-col-4_text {
    background-color: #fff;
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list-col_4 {
    padding-top: 10px;
    margin-bottom: 5px;
}
.list-col-4_text > p {
    margin: 0;
}
.list-col-4-btn {
    margin: 10px;
}
.col-4-btn_link {
    padding: 9px 0;
}
.col-4-btn_link > button:hover {
    cursor: pointer;
    background-color: #2c2b5e;
}
.col-4-btn_link > button {
    background-color: #ec1c23;
    padding: 10px 15px;
    outline: none;
    border: none;
    border-radius: 2px;
    color: #fff;
}
.container-page-map {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #dfdfdf;
}
.container-page-map > p {
    font-size: 20px;
    font-weight: bold;
}
.container-page-map > iframe {
    width: 95%;
    border-radius: 5px;
    border: 1px solid red;
    margin-bottom: 15px;
}
.container-slide {
    margin-top: 99px;
    display: flex;
    justify-content: center;
}
