.title-diagram {
    background: url(/resources/img/cover-difgram.jpg) scroll center center / cover;
}
.container-page-notification {
    margin: 40px 0;
    text-align: center;
}
.container-page-diagram {
    margin: 30px;
    font-size: 25px;
    color: #666;
}
.container-page-diagram_list {
    display: flex;
}
.page-list-col-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 15%);
}
.list-col-3_img {
    width: 310px;
    height: 314px;
}
.list-col-3_img > img {
    height: 100%;
}
.list-col-3_text > p {
    font-size: 16px;
    color: #333;
    margin: 10px;
}
.container-page-text {
    margin-top: 100px;
    font-size: 25px;
    color: red;
}
.container-page-notification > img {
    margin-top: 20px;
    border: 2px solid red;
}
