.title-mailbox {
    background: url(/resources/img/cover-mailbox.png) scroll center center / cover;
}
.container-content-faq {
    margin: 50px 0;
    display: flex;
    justify-content: center;
}
.container-content-faq section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list-content-faq {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list-content-faq p {
    color: #606060;
    margin: 10px 0;
    line-height: 20px;
    text-align: justify;
}
.title-faq {
    color: rgb(18,102,241);
    margin: 0;
    font-size: 2rem;
}
.container-list-container-faq {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.title-conten {
    color: rgb(241, 18, 37);
    font-size: 1rem;
    margin: 5px 0;
}
.mt-20 {
    margin-top: 20px;
}
