body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
html {
    scroll-behavior: smooth;
}
.decoration-none {
    text-decoration: none;
}
.container-navigation-bar {
    position: sticky;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    z-index: 1000;
}
.navigation-bar-list {
    max-width: 1200px;
    display: flex;
    margin: auto;
}
.nav-list-logo {
    display: flex;
    align-items: center;
    margin-right: 200px;
    text-decoration: none;
}
.nav-list-logo > img {
    margin-right: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.nav-list-logo > p {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    margin: auto;
}
.nav-list {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 10px;
    margin: 0 10px;
}
.nav-list:hover {
    color: #EC1C23;
}
.nav-list-introduct {
    display: flex;
    position: relative;
    text-transform: uppercase;
}
.nav-list-introduct_link {
    padding: 20px;
    color: #fff;
    text-decoration: none;
}
.nav-list-introduct_link:hover {
    color: #EC1C23;
}
.nav-hover-item {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba( 0, 0, 0, 0.5);
    width: 185px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.hover-item_list {
    display: flex;
    flex-direction: column;
}
.item_list-diagram, .item_list-library {
    font-weight: bold;
    color: #fff;
    padding: 10px 20px;
    font-size: 12px;
    text-decoration: none;
}
.item_list-diagram:hover {
    color: #EC1C23;
    padding-left: 25px;
}
.item_list-library:hover {
    color: #EC1C23;
    padding-left: 25px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.nav-list-introduct:hover .nav-hover-item {
    display: block;
}
/* .nav-list-form {

} */
.list-form-search {
    background-color: #fff;
    border-radius: 20px;
    display: flex;
}
.nav-tag_intput {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
    outline: none;
    padding: 8px;
}
.nav-list_btn {
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    background-color: #fff;
}
.nav-list_btn > i {
    padding: 5px;
    border-radius: 50%;
    background-color: #0e0d44;
}
.icon-search {
    font-size: 18px;
    color: #fff;
}
.nav-list_btn > i:hover {
    cursor: pointer;
    background-color: #EC1C23;
}
.container-focus-btn-search {
    position: relative;
    margin-left: 15px;
    display: flex;
    align-items: center;
}
.focus-btn-search {
    display: flex;
}
.icon-search-focus {
    padding: 4px;
    border-radius: 50%;
    font-size: 15px;
    color: #fff;
}

.banner-area {
    position: relative;
    width: 100%;
    z-index: 1;
    background-repeat: no-repeat;
}
.title-home {
    background: url(/resources/img/img_truong.png) scroll center center / cover;
}
.banner-slide-wrapper {
    display: flex;
    justify-content: center;
}
.banner-content {
    padding: 20px 0;
}
.banner-content-home {
    padding: 360px 0;
}
.banner-content > p {
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    z-index: 5;
}
.after-slide-area {
    background-color: rgba( 0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    left: 0;
    right: 0;
}
/* .container-slide {
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: center;
}
.slide-img {
    width: 100%;
}
.cover-contact-slide {
    position: relative;
}
.cover-contact {
    width: 100% !important;
}
.slide-contact {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide-contact p {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    color: #fff;
}
.container-slide-img {
    width: 90%;
} */
.container-tour_notice {
    display: flex;
    max-width: 1200px;
    margin: 20px auto;
    justify-content: center;
}
.notice-right-wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.video-creative-contest {
    color: #2c2b5e;
    margin-left: 30px;
    margin-bottom: 15px;
}
.container-creative-contest_btn {
    margin-top: 10px;
}
.creative-contest_btn {
    width: 90px;
    height: 35px;
    outline: none;
    border: none;
    border-radius: 2px;
    background-color: #EC1C23;
}
.creative-contest_btn:hover {
    background-color: #2c2b5e;
}
.creative-contest-link {
    color: #fff;
    font-size: 10px;
    text-decoration: none;
}
.creative-contest-link > div {
    display: flex;
    padding: 10px 1px;
    justify-content: center;
    text-transform: uppercase;
}
.icon-angle-right {
    margin-left: 3px;
}
.notice-left-wrapper {
    width: 50%;
}
.notice-left-wrapper > h3 {
    color: #2c2b5e;
}
.notice-wrapper-content {
    display: flex;
    height: 280px;
}
.wrapper-content-list {
    display: flex;
    width: 90%;
    height: 100%;
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 15%);
}
.content-list-crol {
    padding: 33px 58px 31px;
    max-height: 380px;
    overflow-y: auto;
}
.list-crol-item {
    padding-bottom: 15px;
    border-bottom: 1px solid #dfdfdf;
}
.list-crol-item > h4 {
    font-size: 15px;
    color: red;
    margin: 0;
}
.list-crol-item > p {
    font-family: 'Open Sans', sans-serif;
    color: #303030;
    margin: 5px 0;
    font-size: 12px;
}
.vmenu-notification {
    border-radius: 5px;
    background-color: #fff;
    margin: 0 10px;
    padding: 10px;
}
.vmenu-notification > h3 {
    color: red;
    margin: 0;
}
.vmenu-notification > ul {
    list-style: none;
    padding-left: 20px;
    text-align: start;
}
.vmenu-notification > ul > li {
    margin: 10px 0;
}
.notification-content {
    text-decoration: none;
}
.notification-content:hover {
    color:  red;
}
.notification-content > img {
    width: 12px;
}
.container-content {
    max-width: 1200px;
    margin: 30px auto;
}
.container-content-aslide {
    float: left;
    width: 30%;
}
.container-content-acticle {
    width: 70%;
}
.container-news {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-title {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #2c2b5e;
}
.container-page-list {
    width: 100%;
    display: flex;
    height: 400px;
    align-items: center;
}
.page-list-col {
    height: 100%;
    width: 33.33%;
    float: left;
}
.page-list-col-4 {
    position: relative;
    height: 97%;
    margin: 10px 40px;
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 15%);
}
.list-col-4_img {
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.list-col-4_img > img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
}
.list-col-4_text {
    background-color: #fff;
    width: 100%;
    height: 24%;
    display: flex;
    flex-direction: column;
}
.list-col_4 {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0;
}
.list-col-4_text_list {
    line-height: 10px;
    margin: 0;
    padding-left: 10px;
    list-style: outside none none;
}
.list-col-4-btn {
    margin: 0px 10px;
    height: 10%;
}
.col-4-btn_link {
    padding: 9px 0;
}
.col-4-btn_link > button {
    background-color: #ec1c23;
    padding: 10px 15px;
    outline: none;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
    color: #fff;
}
.col-4-btn_link > button:hover {
    cursor: pointer;
    background-color:  #2c2b5e;
}
.event-date {
    background-color: #2c2b5e;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-right-radius: 20px;
    color: #fff;
    width: 24%;
}
.event-date-day {
    display: flex;
    margin: 15px;
    flex-direction: column;
    align-items: center;
}
.event-date-day > p {
    margin: 0;
}
.container-map-school {
    margin: 0;
    padding: 0;
    border: 0;
}
.container-page-map {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-page-map > h2 {
    color: #2c2b5e;
}
.container-about-area {
    background-color: #eff8f6;
    margin-top: 50px;
    display: flex;
}
.about-area {
    display: flex;
    margin-bottom: 50px;
    align-items: center;
}
.about-content {
    display: flex;
    flex-direction: column;
}
.about-content > h2 {
    text-transform: uppercase;
    font-size: 30px;
}
.about-content > h2 > span {
    text-transform: uppercase;
    color: #EC1C23;
    font-size: 30px;
}
.about-content > p {
    color: #606060;
    margin: 5px 0;
    line-height: 22px;
    text-align: justify;
}
.about-img {
    position: relative;
    height: 412px;
}
.after-about-img {
    position: absolute;
    width: 100%;
    height: 90%;
    margin-top: 27px;
    border: 10px solid #EBEBEB;
}
.about-img > img {
    position: absolute;
    top: 0;
}
.container-footer {
    background-color: #eff8f6;
    margin: 0;
    padding: 0;
    border: 0;
}
.footer-information {
    padding-top: 20px;
    margin-bottom: 50px;
}
.container-footer-list {
    height: 200px;
    display: flex;
}
.single-widget > ul {
    list-style: none;
    padding: 0;
}
.single-widget > ul > li > h3 {
    text-transform: uppercase;
    font-size: 20px;
    color: #2c2b5e;
    margin-bottom: 10px;
}
.single-widget > ul > li > p {
    margin: 5px 0;
    line-height: 18px;
    font-size: 15px;
    color: #7d7d7d;
}
.single-widget-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.single-widget-logo {
    font-size: 20px;
    width: 150px;
}
.list-icon-link {
    margin-top: 20px;
}
.item-icon-link {
    color: #7d7d7d;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #dfdfdf;
    border-radius: 50%;
}
.item-icon-link:hover  {
    background-color: #EC1C23;
    color: #fff;
    border: 1px solid #EC1C23;
}
.single-widget > p {
    line-height: 20px;
    margin: 10px 0;
    font-size: 15px;
    color: #7d7d7d;
    font-family: "Open Sans",sans-serif;
}
.single-widget-location {
    color: #7d7d7d;
    text-decoration: none;
}
.single-widget-location:hover {
    color: #EC1C23;
}
.container-footer-copyright {
    background-color: #2c2b5e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-copyright {
    padding: 20px;
    margin: 0;
    color: #c7c7c7;
    font-size: 14px;
}
.footer-copyright > a {
    color: #fff;
    text-decoration: none;
}
.scrollup {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 5px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    justify-content: center;
    align-items: center;
    z-index: 23657218;
}
.scrollup > a {
    padding: 3px 10px;
    font-size: 30px;
    color: #fff;
}
#chat-application {
    bottom: 60px !important;
    right: 5px !important;
}

